<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ config['site_info'].get('description') }}">
        <title>{{ config['site_info'].get('site_title') }}</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.classless.min.css">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body><main>
<nav>
  <ul>
    <li><strong><a href="/">{{ config['site_info'].get('brand') }}</a></strong></li>
  </ul>
  <ul>
    <li><a href="/">Home</a></li>
{% if 'username' in session %}
    <li role="list" dir="rtl">
      <a href="#" aria-haspopup="listbox">👤{{ session['username'] }}</a>
      <ul role="listbox">
        <li><a href="/post/new">New post</a></li>
        <li><a href="/user/logout">Logout</a></li>
      </ul>
    </li>
{% else %}
    <li role="list" dir="rtl">
      <a href="/user/login" aria-haspopup="listbox">Login</a>
      <ul role="listbox">
        <li><a href="/user/register">Register</a></li>
      </ul>
    </li>
{% endif %}
  </ul>
</nav><br><br>
<center>{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}</center>
{% block content %}{% endblock %}
</main>
<div class="footer">
©️ {{ config['site_info'].get('site_title') }}. <small>Host by <a href="https://deta.space/">Deta.space</a></small></div>
</body></html>