<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
<div class="pure-g" style="margin: 10px">
    <div class="l-box pure-u-1 pure-u-md-1-5"></div>
    <div class="l-box pure-u-1 pure-u-md-3-5">
        <h2 class="content-head is-center">Setup site info</h2>
        <form class="pure-form" method="post">
            <fieldset class="pure-group">
                <input type="text" class="pure-input-1-2" placeholder="Title, shown on Browser tabs" name="site_title"/>
                <input type="text" class="pure-input-1-2" placeholder="brand, show in top of the page" name="brand"/>
                <textarea class="pure-input-1" placeholder="site description, the main content for the site. for SEO" name="description" style="height: 7em"></textarea>
            </fieldset>
            <button type="submit" class="pure-button pure-input-1-3 pure-button-primary">Submit</button>
        </form>
    </div>
<div class="l-box pure-u-1 pure-u-md-1-5"></div>
</div>
