.custom-wrapper {
    background-color: #d3eda3;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    padding: 0.5em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}
.pure-menu-link {
    color: #333;
}
.custom-wrapper.open {
    height: 14em;
}
.custom-menu-3 {
    text-align: right;
}
.custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}
.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.footer {
    text-align: center;
    background-color: #f5f6f7;
    padding: 1em 1em;
}
@media (max-width: 47.999em) {
    .custom-menu-3 {
        text-align: left;
    }
    .custom-toggle {
        display: block;
    }
}